
<div class="modal fade" id="addConfirmation" tabindex="-1" role="dialog" aria-labelledby="PostConfirmationModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalTitle"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalBody" style="white-space: pre-line">
        <p id="modalBodyText" class="text-truncate lead"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" id="confirmAddButton">Confirm</button>
      </div>
    </div>
  </div>
</div>