@model List<string>
<table id="viewauthors" style="width:100%">
    <thead>
        <tr>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var name in Model)
        {
            <tr>
                <td><a class="text-capitalize" href="/Home/ViewByAuthor/?author=@name">@name</a></td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready( function () {
        $('#viewauthors').DataTable({searching: false, paging: true});
    });
</script>
@await Html.PartialAsync("BackButton")