<div>
    @using (Html.BeginForm("Home",FormMethod.Post,new {@class="navbar-form pull-right form-inline", id="logoutForm"})) 
                {
                    <button type="submit" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-user"></span> TEST</button>
                }
</div>