<pre style="text-align: center">
    <code>
.___________. __    __   _______     __  .__   __. .___________. _______ .______      .__   __.      _______.
|           ||  |  |  | |   ____|   |  | |  \ |  | |           ||   ____||   _  \     |  \ |  |     /       |
`---|  |----`|  |__|  | |  |__      |  | |   \|  | `---|  |----`|  |__   |  |_)  |    |   \|  |    |   (----`
    |  |     |   __   | |   __|     |  | |  . `  |     |  |     |   __|  |      /     |  . `  |     \   \    
    |  |     |  |  |  | |  |____    |  | |  |\   |     |  |     |  |____ |  |\  \----.|  |\   | .----)   |   
    |__|     |__|  |__| |_______|   |__| |__| \__|     |__|     |_______|| _| `._____||__| \__| |_______/    
</code>
</pre>
<div>
    <div>
        <a class="btn btn-primary" href="/Home/ViewAll" role="button"><span class="glyphicon glyphicon-th-list"></span> View All</a>
        <a class="btn btn-primary"  href="/Home/Authors" role="button"><span class="glyphicon glyphicon-user"></span> View Authors</a>
        <a class="btn btn-primary"  href="/Home/AddPost" role="button"><span class="glyphicon glyphicon-plus"></span> Add New Post</a>
        <a class="btn btn-primary"  href="/Home/Login" role="button"><span class=""></span>Login Page</a>
    </div>
</div>