@model UserLogin
<h2>Simple Login Page</h2>
@using (Html.BeginForm("LoginConfirm","Home",FormMethod.Post,new {@class= "form-horizontal", id="loginForm"}))
{
    <div class="row">
        <div class="input-group col-md-12">
            <div class="form-group">
                <label for="usernameText" class="control-label">Username:</label>
                @Html.TextBoxFor(m => m.Username, new {@class="form-control", id="usernameText"})
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="passwordText" class="control-label">Password:</label>
                @Html.PasswordFor(m => m.Password, new {@class="form-control", id="passwordText"})
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div>
                <input type="button" id="LoginButton" class="btn btn-success box-shadow-4dp" value="Login"></input>
            </div>
        </div>
    </div>
}