@using (Html.BeginForm("SearchResult", "Home"))
{
    <div class="input-group">
        @Html.TextBox("searchCriteria", null, new {@class="form-control", type="text", placeholder="Search..."})
        <div class="input-group-btn">
            <button type="submit" class="btn">Search</button>
        </div>
    </div>
}