@model List<PostModel>


<style = "text/css">
li{
    padding:0.25em
}
</style>

<table id="viewallposts" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Timestamp</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var post in Model)
        {
            <tr>
                <td><a class="" href="/Home/ViewSinglePost/?postid=@post.PostID"> @post.Title</a></td>
                <td><a class="" href="/Home/ViewByAuthor/?author=@post.Author"> @post.Author</a></td>
                <td><a class="" href="/Home/ViewSinglePost/?postid=@post.PostID"> @post.Timestamp</a></td>
                <td><a class="" href="/Home/ViewSinglePost/?postid=@post.PostID"> @post.Body</a></td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready( function () {
        $('#viewallposts').DataTable({searching: false, paging: true});
    });
</script>

@await Html.PartialAsync("BackButton")
