@model List<BlogDB.Core.Post>
<style = "text/css">
li{
    padding:0.25em
}
</style>

<ul id="accordion">
    @foreach(var post in Model)
    {
        <li>
            <a class="" href="/Home/ViewSinglePost/?postid=@post.PostID">
                @post.GetPostPreview()
            </a>
        </li>
    }
</ul>

@await Html.PartialAsync("BackButton")