@using (Html.BeginForm("Logout", "Login", FormMethod.Post, new {@class="form-inline", id="logoutForm"})) 
{
    <button type="submit" class="btn btn-warning" style="padding-left:10px; padding-right:10px; margin:5px;" role="button"><span class="glyphicon glyphicon-log-out"></span></button>
}