@using (Html.BeginForm("Logout","Login",FormMethod.Post,new {@class="navbar-form pull-right form-inline", id="logoutForm"})) 
{
    <button type="submit" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-log-out" /></button>
}