@using (Html.BeginForm("Index","Account",FormMethod.Post,new {@class="navbar-form pull-right form-inline", id="accountSettingsForm"})) 
{
    <button type="submit" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-cog" /></button>
}